
//Alterando cor da página e da fonte principal
$body-bg: rgb(255, 255, 255);
$body-color: rgb(59, 70, 57);
$border-color: rgb(92, 53, 2);
$navbar-light-color: rgb(16, 24, 2);
$nav-link-color: rgb(42, 56, 33);

// scss-docs-end t
$enable-gradients: true;
$gradient: linear-gradient(180deg, rgba(rgb(214, 220, 233), .80), rgba(rgb(255, 255, 255), .80));

$theme-colors: (
  "primary":    rgb(129, 161, 109),
  "secondary":  rgb(167, 73, 101)
) !default;

.btn-outline-success{
  --bs-btn-color: #e7bd31;
  --bs-btn-border-color: rgb(129, 161, 109);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: false;
}

.p{
  font-size: medium;
  font-style: var(--bs-btn-active-bg)
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/mixins";