
//Alterando cor da página e da fonte principal
$body-bg: rgb(255, 255, 255);
$body-color: rgb(59, 70, 57);
$border-color: rgb(92, 53, 2);
$navbar-light-color: rgb(16, 24, 2);
$nav-link-color: rgb(42, 56, 33);
$corDescricaoPerfil: rgb(129, 161, 109);
$corTituloDescricao: rgb(167, 73, 101);

// scss-docs-end t
$enable-gradients: true;
$gradient: linear-gradient(180deg, rgba(rgb(214, 220, 233), .80), rgba(rgb(255, 255, 255), .80));

$theme-colors: (
  "primary":    rgb(129, 161, 109),
  "secondary":  rgb(167, 73, 101)
) !default;

.descricaoPerfil{
  font-size: 20px;
  color: $corDescricaoPerfil;
}

.tituloDescricaoPerfil{
$corTituloDescricao: rgb(167, 73, 101);
  color: $corTituloDescricao;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/mixins";